@import url('normalize.css');

body{
	background:#666;
}

#elementsHolder{
	position:absolute;
	top:50%;
	left:50%;
	margin:-150px 0 0 -150px;
	padding:0;
	cursor:crosshair !important;
	border:1px solid #333;
	opacity:.3;
	background:white url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADdJREFUeNpi/P//PwM2cPbsWaziTAwkglENxADGM2fOYJUwNjYeDSVkDbgSLE4NjIyMxGsACDAAByULgNBNdIAAAAAASUVORK5CYII=');
	-webkit-transform-style:preserve-3d; 
	   -moz-transform-style:preserve-3d; 
	    -ms-transform-style:preserve-3d; 
	     -o-transform-style:preserve-3d; 
	        transform-style:preserve-3d; 
	-webkit-transition: opacity 500ms ease-in; 
	   -moz-transition: opacity 500ms ease-in; 
	     -o-transition: opacity 500ms ease-in; 
	        transition: opacity 500ms ease-in;
}

#info{
	position:fixed;
	right:20px;
	top:-180px;
	padding:5px 20px;
	width:230px;
	height:170px;
	background:#fff;
	border-radius:10px;
	-webkit-transform-style:preserve-3d; 
	   -moz-transform-style:preserve-3d; 
	    -ms-transform-style:preserve-3d; 
	     -o-transform-style:preserve-3d; 
	        transform-style:preserve-3d; 
	-webkit-transition: all 250ms ease-in-out; 
	   -moz-transition: all 250ms ease-in-out; 
	     -o-transition: all 250ms ease-in-out; 
	        transition: all 250ms ease-in-out;
}

#info p{
	font:normal 22px monospace;
	color:#fff;
	text-shadow:0 0 5px #000;
}

#mGlass{
	display:none;
	border-radius:50%;
	position:absolute;
	width: 120px;
	height:120px;
	cursor:crosshair !important;
	background:rgba(255, 255, 255, .3);
	border:5px solid #ddd;
	box-shadow:inset 0 0 10px 2px #333, 0 0 10px 1px #666;
	z-index:9;
/*	-webkit-transform-style:preserve-3d; 
	   -moz-transform-style:preserve-3d; 
	    -ms-transform-style:preserve-3d; 
	     -o-transform-style:preserve-3d; 
	        transform-style:preserve-3d; 
	-webkit-transition: all 100ms ease-in-out; 
	   -moz-transition: all 100ms ease-in-out; 
	     -o-transition: all 100ms ease-in-out; 
	        transition: all 100ms ease-in-out;
*/}